doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAH7gFY20sVU19X2H35QvMumqZssuWQ2VI&libraries=geometry,visualization')
  body
    block content
    script(src='/public/javascripts/bundle.js')