.container {
  display: flex;
  justify-content: space-between;
}

.container > * {
  margin: 10px;
}

button {
  background-color: #dedede;
}

.viewSelector {
  flex: 1 0 auto;
}

.searchInput {
  width: 100%;
  max-width: 500px;
  min-width: 100px;
}